<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-hotpushes" version="0.4.12">

  <name>Hot Pushes</name>

  <description>A simple hot code push for ios and android.</description>

  <author>Mathieu Dutour</author>

  <license>MIT</license>

  <keywords>Hot pushes,ecosystem:cordova,cordova,device,cordovaplugin,cordova-ios,hotpushes</keywords>

  <repo>https://github.com/mathieudutour/cordova-plugin-hotpushes.git</repo>

  <issue>https://github.com/mathieudutour/cordova-plugin-hotpushes/issues</issue>

  <dependency id="phonegap-plugin-contentsync" url="https://github.com/phonegap/phonegap-plugin-contentsync" tag="1.1.12" />

  <js-module src="www/index.js" name="HotPush">
    <clobbers target="window.HotPush" />
    <clobbers target="window.hotPushJSONP" />
  </js-module>
</plugin>
